@charset "UTF-8";

/*paleta
verdin: #00DF82
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
     background-image: radial-gradient(circle at center, #009557, #000000);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    color: white;
    position: absolute;
    background-color: #2b2b2b;
    width: 250px;
    height: 515px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    overflow: hidden;
    border: 2px solid #00DF82;  
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);

}

section#login div#imagem{
   background: black url(../imagens/pexels-alex-pereyra-473897803-30087824.jpg) center center;
   height: 200px;
   background-size: cover;
   display: block;
}

section#login div#form{
    padding: 10px;
    display: block;
}
div#form > h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em;
}

div#form > p{
    font-size: 0.8em;
}
div.campo > label{
    display: none;
}

div.campo > i{
    color: #00df56;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input{
    background-color: #2b2b2b;
    width: calc(100% - 45px);
    font-size: 1em;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #5e5e5e;
    padding: 4px;
    color: white;
    transform: translateY(-11px);
}

form > div.campo{
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 10px;
    margin: 5px 0px;
}

form > input[type="submit"]{
   display: block;
   font-size: 1em;
   width: 100%;
   height: 40px;
   background-color: #008b3f;
   color: white;
    border: 2px solid #00df56;
    border-radius: 10px;
}

form> input[type="submit"]:hover{
    background-color: rgb(0, 159, 69);
    border-color: #008b3f;
    cursor: pointer;
}

form > a.botao{
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #00df56;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
}