@charset "UTF-8";

/*paleta
verdin: #00DF82
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
     background-image: radial-gradient(circle at center, #009557, #000000);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    color: white;
    position: absolute;
    background-color: #2b2b2b;
    width: 250px;
    height: 500px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border: 2px solid #00DF82;  
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login div#imagem{
   background: black url(../imagens/pexels-alex-pereyra-473897803-30087824.jpg) center center;
   height: 200px;
   background-size: cover;
   display: block;
}

section#login div#form{
    padding: 10px;
    display: block;
}